<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="today.good.finalbusdata">



    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <application

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"

        android:usesCleartextTraffic="true"

        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity android:name=".FindBusStation">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"

            android:parentActivityName=".ChooseActivity">

        </activity>

        <activity

            android:name=".SplashActivity"

            android:screenOrientation="portrait"

            android:theme="@style/SplashTheme">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name=".ChooseActivity"

            android:parentActivityName=".FindBusStation">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>

        </activity>

        <activity android:name=".ListViewActivity"

            android:parentActivityName=".ChooseActivity">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>

        </activity>

        <activity android:name=".SpecificActivity" android:parentActivityName=".ListViewActivity"></activity>



    </application>



</manifest>